# 罪恶的开始 ———— 序章：万恶之源

In [2]:
import pandas as pd
import numpy as np

## < 1 > 第一题

### 1. 将下面的字典创建为DataFrame

In [3]:
data = {"grammar":["Python","C","Java","GO",np.nan,"SQL","PHP","Python"],
        "score":[1,2,np.nan,4,5,6,7,10]}

In [4]:
df = pd.DataFrame(data)
df

  grammar  score
0  Python    1.0
1       C    2.0
2    Java    NaN
3      GO    4.0
4     NaN    5.0
5     SQL    6.0
6     PHP    7.0
7  Python   10.0

### 2. 提取含有字符串“Python”的行

In [6]:
df[df['grammar'] == "Python"]

  grammar  score
0  Python    1.0
7  Python   10.0

In [15]:
result = df['grammar'].str.contains("Python")
result.fillna(value = False,inplace=True)
df[result]

C:\Users\Snow\AppData\Local\Temp\ipykernel_6180\2047203606.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  result.fillna(value = False,inplace=True)

  grammar  score
0  Python    1.0
7  Python   10.0

### 3. 输出所有df的列名

In [19]:
print(df.columns)

Index(['grammar', 'score'], dtype='object')

### 4. 修改第二列列名为'popularity'

In [23]:
df.rename(columns={"score":"popularity"}, inplace=True)
df

  grammar  popularity
0  Python         1.0
1       C         2.0
2    Java         NaN
3      GO         4.0
4     NaN         5.0
5     SQL         6.0
6     PHP         7.0
7  Python        10.0

### 5. 统计grammar列中每种编程语言出现的次数

In [26]:
df["grammar"].value_counts()

grammar
Python    2
C         1
Java      1
GO        1
SQL       1
PHP       1
Name: count, dtype: int64